body {
  margin: 0;
  padding: 0;
  background-color: darkgray;
}

h1 {
  background-image: linear-gradient(transparent calc(100% - 5%), #0074ff 0px);
  font-size: .5em;
  display: inline-table;
  color: white;
  margin-left: 10px;
  position: relative;
}

header {
  background-color: rgb(29, 28, 28);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  font-family: "Kalam", cursive;
  border-bottom: black 2px solid;
  width: 100%;
  position: fixed;
}

.hero {
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
  width: 100%;
  /* height:100vh; */
}

.hero-video {
  z-index: -1;
  top: 0%;
  left: 0%;
 width: 100%;
 position: relative;
}

nav a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  position: relative;
}

.nav-image {
  flex: 1 0 10%;
}

.nav-image img {
  width: 100%;
  height: auto;
}

nav {
  margin: auto;
}

.portrait {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 35px;
}

.portrait-2 {
  width: 250px;
}

#jokes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 80vw;
  margin: auto;
  flex-flow: wrap;
}

#joke {
  max-width: 100%;
  justify-content: center;
}

blockquote {
  position: relative;
  max-width: 100%;
  padding: 1.5em 3em 1.4em 3em;
  text-align: center;
  font-size: 1em;
  background-color: #e8e5e5;
  border-left: #e03939 8px solid;
  border-radius: 10px;
}

blockquote::before {
  content: "\201C";
  font-family: arial;
  top: -4px;
  left: 20px;
  font-size: 2em;
  color: #e03939;
}

button {
  margin: 0.2em;
  background-color: #e03939;
  color: whitesmoke;
  padding: 0.6em;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
}

#chuckimg-1 img {
  display: block;
  position: absolute;
  bottom: 0px;
  right: -16px;
  width: auto;
  width: 80px;
  height: 80px;
}

#chuckimg-2 img {
  display: block;
  position: absolute;
  bottom: 0px;
  left: -20px;
  width: auto;
  height: 80px;
}

.shop {
  background: url(https://wallpaperplay.com/walls/full/4/1/2/231526.jpg)
    no-repeat;
  background-size: 100% auto;
  position: absolute;
  width: 100%;
}

.container {
  content: "";
  display: table;
  table-layout: fixed;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
 
}

.container p {
  color: #ffc400;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}

h3 {
  color: #ffc400;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
}

.container_shop-intro{
margin: 30px;

}

.container_bio-intro {
  display: flex;
  margin-top: 100px;
}
.container_bio-nav {
  display: flex;
  align-items: flex-end;
  background-color: black;
  margin: auto;
 
}

.container_bio-text  {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  align-self: stretch;
  justify-content: center;
   
}

.home__christian-resources {
 background: url(chucknorris11.jpeg) 0% bottom no-repeat;
 background-size: 350px 350px ,cover;
 
}

.home__christian-resources .cr-container {
 position: relative;
 max-width: 800px;
 width: 100%;
}

.home__christian-resources .button-primary {
 border: 2px solid #FFC400;
 border-radius: 8px;
 display: inline-block;
 padding: 10px 30px 6px;
 color: white;
 font-family: 'Poppins', sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 30px;
 font-size: 1.875rem;
 letter-spacing: 0.1em;
 line-height: 1;
 text-decoration: none;
 text-transform: uppercase;
}

.home__christian-resources p {
 color: white;
}

.footer_main {
 background: url(chucknorris12.jpg) center no-repeat, url(chucknorris11-dark.jpeg) repeat;
 background-size: 180px;
 padding: 60px 0 124px;
 background-color: #e03939;
}




 @media (max-width: 768px){
.container_bio-nav{
align-items: center;
/* margin-top: 270px; */
justify-content: space-between;

}
.nav-image{
flex: 0 10%;
} 
.nav a{
 display:none;
}
nav {

    display: none;
}

.home__christian-resources{
 padding: 40px 40px 40px 40px;

 }
 
}

@media (min-width: 1024px){
    .container_bio-nav{
        align-items: center;
        margin-top: 270px;
        justify-content: space-between;
      }
      .nav-image{
        flex: 0 10%;
        }
        .home__christian-resources{
            padding:50px;
           
   } 
    
    }
        
