body{
margin: 0;
padding: 0;
background-color: darkgray;
}

h1 {
background-image: linear-gradient( transparent calc(100% - 5%), #0074ff 0px );
font-size: 1em;
display: inline-table;
color: white;
margin-left: 10px;
position: relative;

}

header{
 background-color: rgb(29, 28, 28);
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 40px;
 font-family: "Kalam", cursive;
 border-bottom: black 2px solid;
 width: 100%;
 position: fixed;
}



.hero {
 position:absolute;
 z-index:-1;
 top:0;
 left:0;
 width:100%; 
 /* height:100vh; */
}

.hero-video{
 z-index:-1;
 top:0;
 left:0;
 width: inherit;
 }




nav a{
 font-family: 'Poppins', sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 font-size: 0.875rem;
 letter-spacing: 0.1rem;
 text-decoration: none;
 text-transform: uppercase;
 color: white;
 position: relative;
  
}


.nav-image{
text-align: center;

}

nav{
 margin: auto;
}


img{
 width: 150px;
 height: 150px;
}

.portrait{
 width:70px;
 height:70px;
 border-radius: 50%;
 margin-top: 35px;

}

.portrait-2{
 width: 250px;
}


#jokes{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 max-width: 80vw;                         
 margin: auto;
 flex-flow: wrap;

 
}


#joke{
max-width: 100%;
justify-content: center;


}

blockquote{
 position: relative;
 max-width: 100%;
 padding: 1.5em 3em 1.4em 3em;
 text-align: center;
 font-size: 1em;
 background-color: #e8e5e5;
 border-left: #e03939 8px solid;
 border-radius: 10px;
 
}

 blockquote::before {
 content: "\201C";
 font-family: arial;
 top: -4px;
 left: 20px;
 font-size: 2em;
 color: #e03939;
 
}


button{
 margin: 0.3em;
 background-color: #e03939;
 color: whitesmoke;
 padding: 1em;
 border-radius: 6px;
 border: none;
 display: flex;
 justify-content: center;
}

#chuckimg-1 img{
 display: block;
 position: absolute;
 bottom: 0px;
 right: -15px;
 width: auto;
}

#chuckimg-2 img{
 display: block;
 position: absolute;
 bottom: 0px;
 left: -30px;
}

.home__shop {
 background: url(https://wallpaperplay.com/walls/full/4/1/2/231526.jpg) no-repeat;
 background-size: 100% auto;
 position: absolute;
 margin-top: 200px;
 padding: 40px 0;
 width: 100%;
}

.home__shop h3 {
 color: #FFC400;
 font-family: 'Poppins', sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 64px;
 font-size: 4rem;
 text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
 text-transform: uppercase;
 margin-top: 130px;
}

.container {
 content: "";
 display: table;
 table-layout: fixed;
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
 padding: 0 20px;
 max-width: 1200px;
  
}

.home__shop p {
 color:  #FFC400;
 font-family: 'Poppins', sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 32px;
 font-size: 2rem;
 text-align: center;
 text-decoration: none;
 text-transform: uppercase;
 text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}


   



